{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 90,
  "arrowParens": "avoid",
  "proseWrap": "always"
}
