/* Cards */
.work-cards,
.feature-cards,
.blog-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    justify-items: center;
    justify-content: center;
}

/* How we work */
#How-work > .container
{
    flex-direction: row;
    align-items: baseline;
}

.work-cards
{
    row-gap: 15px;
    column-gap: 15px;
}

/* Features */
#Features
{
    background-color: #F4F6FC;
}

.features-heading
{
    text-align: center;
}

.feature-cards
{
    gap: 50px;
}

.feature-cards > .card
{
    background-color: #FFFFFF;
}

/* Our projects */
#Our-projects > .container
{
    align-items: normal;
}
.projects-heading
{
    height: 150px;
}
.projects-heading > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block
{
    margin-bottom: 50px;
}

.conteiner-block-image
{
    height: 400px;
}

.styles-description > h3
{
    color: #fff;
}

.styles-description > p
{
    color: #BBBBCB;
}


/* Our blog */
.blog-heading > div
{
    width: auto;
}

#Our-blog
{
    background-color: #F4F6FC;
}

.blog-cards
{
    gap: 50px;
}

.blog-cards > .card
{
    background-color: #FFFFFF;
}

@media screen and (max-width: 1459px){
    .styles-description
    {
        text-align: center;
    }
}
@media screen and (max-width: 1365px){
    #How-work > .container
    {
        text-align: center;
    }
    .projects-heading > div
    {
        margin-bottom: 20px;
    }
    
    .conteiner-block-image {
        height: auto;
    }
    .conteiner-block-image > img
    {
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    .projects-heading > div
    {
        justify-content: center;
    }
    .projects-heading > div h2
    {
        margin: 5%;
    }
}

@media screen and (max-width: 330px) {
    .work-cards,
    .feature-cards,
    .blog-cards
    {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
}